<div class="trafficlight" ...attributes>
  <div class="protector" />
  <div class="protector" />
  <div class="protector" />
  <div class="red {{if this.light.color.isRed "is-active"}}" />
  <div class="yellow {{if this.light.color.isYellow "is-active"}}" />
  <div class="green {{if this.light.color.isGreen "is-active"}} {{if this.light.isBlinking "is-blinking"}}" />
</div>
