<button type="button" class="next" {{on "click" this.rotateLights}}>
  Next Light
</button>

{{#if (eq this.light "traffic")}}
  <TrafficLight/>
{{else if (eq this.light "blinking")}}
  <BlinkingLight/>
{{else if (eq this.light "alternating")}}
  <AlternatingLight/>
{{/if}}

{{outlet}}
